
.blue-dark {
  background-color: #2f4787;
  padding: 12px;
}

p {
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  color: #444;
  font-size: 14px;
}

.view {
  min-height: 50vh;
}

.list {
  font-family: 'Open Sans', sans-serif;
  color: #444;
  font-size: 14px;
  padding-left: 20px;
}

header {
  border-bottom: 1px solid #e8e8e8;
}

header .blue-dark ul {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

header .blue-dark p {
  margin: 0px;
  color: #fff;
  font-size: 13px;
  float: right;
}

header .blue-dark p i {
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px;
}

header .blue-dark ul li {
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  margin-right: 25px;
}

header .col-10 i {
  color: #283566;
  text-align: center;
  display: block;
  margin: 24px auto;
  font-size: 21px;
}

.content {
  max-width: 1000px;
  display: block;
  margin: 0 auto;
  position: relative;
}

header .col-22,
header .col-10 {
  border-right: 1px solid #e8e8e8;
  height: 70px;
  box-sizing: border-box;
}

header .col-22 img {
  height: 100%;
}

header .col-22 h2{
line-height: 70px;
margin: 0px;
color: #2f4787;
text-align: center;
font-size: 14px;
font-weight: 600;
font-family: 'Open Sans', sans-serif;
transition: all 0.5s;
}

.col-22.blue {
  border-bottom: 3px solid #304788;
  transition: all 0.5s;
}

.col-22 img {
  max-width: 100%;
}

.col-22.yellow {
  border-bottom: 3px solid #dfc845;
  transition: all 0.5s;
}

.col-22.mark {
  box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
}

.col-22.green {
  border-bottom: 3px solid #37894c;
  transition: all 0.5s;
}

.col-22.blue:hover,
.col-22.yellow:hover,
.col-22.green:hover {
  opacity: 0.7;
  background-color: #38599f;
  color: #fff;
}

.col-22.blue:hover h2,
.col-22.yellow:hover h2,
.col-22.green:hover h2{
  background-color: #2f4787;
  color: #fff;
}



.col-22 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 25%;
  display: inline-block;
  vertical-align: top;
}

.col-10 {
  width: 6%;
  display: inline-block;
  vertical-align: top;
}

.banner img {
  width: 100%;
}

.col-3 {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 5px;
}

.grid-list h3 {
  color: #2f4984;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 3px;
  margin-top: 30px;
}

.grid-list img {
  display: inline-block;
  vertical-align: top;
  width: 30%;
}

.grid-list {
  margin-bottom: 30px;
}

.grid-list p {
  margin: 0px;
  width: 65%;
  font-family: 'Open Sans', sans-serif;
  color: #444;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  vertical-align: top;
}

.noticias {
  padding-top: 30px;
}

.title-blue {
  font-family: 'Open Sans', sans-serif;
  color: #2f4984;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 20px;
}
.post-view img {
  width: 100%;
}

.post-view h1,
.post-view h2,
.post-view h3,
.post-view h4,
.post-view h5,
.post-view h6,
.title {
  font-family: 'Open Sans', sans-serif;
  color: #2f4984;
  font-weight: 800;
  margin-bottom: 0px;
}

.post-view h1  {
  text-transform: uppercase;
}

.post-view a {
  text-decoration: underline;
  color: #444;
}

.no-margin-top {
  margin-top: 4px;
}


.noticias .col-3 h3 {
  color: #2f4984;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 3px;
  margin-top: 25px;
}

.noticias .col-3 {
  position: relative;
}

.noticias .col-3 div img {
  width: 100%;
}

.noticias .col-3 div {
  position: relative;
}

.noticias .col-3 div span {
  background-color: #2f4a84;
  position: absolute;
  left: 0px;
  padding: 7px 15px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  bottom: -15px;
}

.noticias .col-3 p {
  margin-top: 0px;
  color: #444;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.mini-header .title-blue {
  display: inline-block;
  margin-top: 0px;
  vertical-align: middle;
}

.rigth-link {
  text-decoration: none;
  float: right;
  vertical-align: middle;
  color: #2f4a84;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  padding-right: 15px;
}

.apoiamos {
  padding-top: 40px;
  padding-bottom: 40px;
}

.col-35 {
  display: inline-block;
  width: 35%;
  vertical-align: middle;
  box-sizing: border-box;
  padding-right: 10px;
}

.col-35.empressas img {
  display: inline-block;
  vertical-align: top;
}

.col-35.empressas .img1 { width: 64%;}
.col-35.empressas .img2 { width: 36%;}


.col-65 {
  display: inline-block;
  width: 65%;
  vertical-align: middle;
}

.yellow-box {
  box-sizing: border-box;
  background-color: #f4d83b;
  padding: 25px;
  border-radius: 10px;
}

.yellow-box div {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  box-sizing: border-box;
  padding: 5px;
}

.yellow-box div:first-child {
  border-right: 1px solid #d0b73a;
}

.yellow-box div:last-child {
  border-left: 1px solid #fcf4d4;
}

.yellow-box div img {
  width: 95%;
  display: block;
  margin: 0 auto;
}


footer {
  background-color: #2f4787;
  width: 100%;
  padding: 20px 0;
}

footer ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #fff;
  display: inline-block;
}

footer ul i {
  font-size: 14px !important;
  padding-right: 4px;
  color: #212f4d;
}

footer a {
  color: #fff;
}

footer ul  li {
  padding-top: 4px;
}

footer .tempo {
  float: right;
}

label {
  font-family: 'Open Sans', sans-serif;
  display: block;
  font-weight: 600;
  font-size: 14px;
  color: #444;
  margin-bottom: 5px;
}

form {
  width: 50%;
  display: block;
  margin: 0 auto;
}

form input, form select {
  display: block;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  margin-bottom: 10px;
  height: 30px;
  font-size: 14px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 3px;
  padding-left: 9px;
  box-sizing: border-box;
}

form textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding: 0 10px;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,0.2);
  width: 100%;
  margin-bottom: 10px;
}

form button {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  background-color: #fff;
  font-size: 14px;
  padding: 10px 20px;
  margin-top: 10px;
  border: 1px solid rgba(0,0,0,0.2);
}

.button {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  font-size: 14px;
  color: #444;
  padding: 10px 20px;
  margin-top: 10px;
  border: 1px solid rgba(0,0,0,0.2);
}

a {
text-decoration: none;
}

form button:hover, .button:hover {
  background-color: rgba(0,0,0,0.03);
}


.post .image {
  width: 550px;
}

.post h1,
.post p {
  width: 550px;
}

hr {
  opacity: 0.4;
}


.pages {
  margin: 0px;
  padding: 0px;

}

.pages li {
  font-family: 'Open Sans', sans-serif;
  border-radius: 4px;
  border:1px solid rgba(0,0,0,0.1);
  display: inline-block;
  font-weight: 600;
  color: #444;
  font-size: 14px;
  cursor: default;
  padding: 10px;
}

.pages li:hover {
  background-color: rgba(0,0,0,0.03);
}

.footer-blue {
  width: 45%;
  display: inline-block;
  vertical-align: top;
  background-color: #2f4a84;
  padding: 20px 0px;
  border-radius: 10px;
}

.footer-blue img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.footer-none {
  width: 45%;
  display: inline-block;
  vertical-align: top;
  padding: 20px 0px;
  border-radius: 10px;
}

.footer-none img {
  width: 204px;
  display: block;
  margin: 0 auto;
}


.footer-yellow {
  width: 45%;
  display: inline-block;
  vertical-align: top;
  background-color: #f4d83b;
  padding: 20px 10px;
  border-radius: 10px;
  margin-left: 2%;
}

.footer-yellow img {
  width: 100%;
  display: block;
  margin: 0 auto;
}


.newsletter {
  padding: 50px 0 70px 0;
  background-color: #349853;
  background-image: url("../img/faces.png");
}

.associase {
  padding: 10px;
  border-bottom: 1px solid #e8e8e8;
}

.associase button {
  vertical-align: middle;
  background-color: #02994b;
  padding: 14px 20px;
  font-weight: 500;
  border: none;
  font-size: 16px;
  color: #fff;
  margin: 0px 5px 0px 5px;
  font-family: 'Open Sans', sans-serif;
  transition: all 0.5s;
}

.associase button:hover {
  opacity: 0.8;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.associase button.btn-center {
  padding: 14px 30px;
}

.associase .spc {
  padding: 5px 15px;
  background-color: #f4d83b;
}

.associase .spc img {
  height: 35px;
}

.associase .spc-c {
    padding: 5px 15px;
    background-color: #f7f7f2;
    border: 1px solid rgba(0,0,0,0.1);
}

.associase .spc-c img {
  height: 35px;
}

.content-center {
  text-align: center;
}

.newsletter h3 {
  margin-bottom: 0px;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 0px;
  color: #fff;
}

.newsletter input {
  box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
  background-color: #349853;
  border: 1px solid #40bd67;
  height: 50px;
  box-sizing: border-box;
  font-size: 16px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  width: 70%;
  padding-left: 10px;
  vertical-align: middle;
}

.newsletter ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255,255,255,0.6);
}
.newsletter ::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255,255,255,0.6);
}
.newsletter :-ms-input-placeholder { /* IE 10+ */
  color: rgba(255,255,255,0.6);
}
.newsletter :-moz-placeholder { /* Firefox 18- */
  color: rgba(255,255,255,0.6);
}

.newsletter button {
  box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
  vertical-align: middle;
  box-sizing: border-box;
  height: 50px;
  color: #887821;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  background-color: #f4d83b;
  border: none;
  width: 28%;
  transition: all 0.5s;
}

.newsletter button:hover {
  color: #fff;
  opacity: 0.9;
  background-color: #2f4a84;
}

.newsletter p {
  color: #fff;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-top: 0px;
}

.newsletter .center {
  width: 500px;
  display: block;
  margin: 0 auto;
}


.social {
  display: block;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 12px;
}

.social i {
  font-size: 24px;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.btn-rigth {
  float: right;
}

.associase .content {
  position: relative;
}

.associase .content h1 {
  display: inline-block;
}


.inslide {
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
			-moz-animation: fadein 2s; /* Firefox < 16 */
			 -ms-animation: fadein 2s; /* Internet Explorer */
				-o-animation: fadein 2s; /* Opera < 12.1 */
					 animation: fadein 2s;
}

.outslide {
	-webkit-animation:  fadeout 2s; /* Safari, Chrome and Opera > 12.1 */
			-moz-animation: fadeout 2s; /* Firefox < 16 */
			 -ms-animation: fadeout 2s; /* Internet Explorer */
				-o-animation: fadeout 2s; /* Opera < 12.1 */
					 animation: fadeout 2s;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*===========================*/

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.slides {
  position: relative;
  cursor: pointer;
}

.slides p {
  margin: 0px;
  font-size: 18px;
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 0px;
  text-align: center;
}

.slides p i {
  color: #dfc844;
  margin: 0px 3px;
}

.rej {
  width: 110px;
  position: absolute;
  right: 0px;
  top: 0px;
}


.photos {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 3;
  -webkit-column-gap:   0px;
  -moz-column-count:    3;
  -moz-column-gap:      0px;
  column-count:         3;
  column-gap:           0px;
}

.photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  margin: 4px;
}

.photos:hover img{
  opacity: 0.5;
}

.photos img:hover {
  box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
  opacity: 1 !important;
  z-index: 10000 !important;
}

.modal {
  z-index: 10000;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  line-height: 100vh;
  text-align: center;
}

.modal img {
  max-width: 100vw;
  max-height: 100vh;
  vertical-align: middle;
}

.arrow {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  opacity: .8;
  border: 1px solid #fff;
  color: #fff;
  background-color: #516DA0;
  font-family: 'Open Sans', sans-serif;
  line-height: 40px;
  font-size: 36px !important;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
  text-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

.arrow:hover {
  opacity: 1;
}

.banner:hover .arrows {
  display: block;
}

.arrows {
  display: none;
  position: absolute;
  top: 45%;
  padding: 0px 20px;
  width: 100%;
  box-sizing: border-box;
}

.arrows .fa-angle-right {
  float: right;
}
