<div class="associase">
  <div class="content" ng-class="title? '':'content-center'">
      <h1 class="title-blue" ng-show="title">{{ title }}</h1>
      <a href="#/associa-se"><button ng-show="title" class="btn-rigth">Seja um associado da CDL Natal</button></a>
      <a href="https://servicos.spc.org.br/spc/controleacesso/autenticacao/entry.action"
       target="_blank"><button class="spc" ng-class="title? 'btn-rigth':''"><img src="img/spc.png"/></button></a>

       <a href="http://cdlnatal.gearman.com.br"
        target="_blank"><button class="spc-c" ng-class="title? 'btn-rigth':''"><img src="img/concilia_card.png"/></button></a>


      <a href="#/associa-se"><button ng-hide="title">Seja um associado da CDL Natal</button></a>
  </div>

</div>
