<div ng-include="'views/templates/associase.html'"
 onload="title ='CONTATO'"></div>

<div class="content">
  <form class="" action="index.html" method="post">
    <h1 class="title-blue">Formulário de contato</h1>
    <p>
        Preencha o formulário e participe do evento.
    </p>

    <label>Nome do participante (obrigatório)</label>
    <input type="text" ng-model="data.nome" name="name" value="">

    <label>CPF (obrigatório)</label>
    <input type="text" ng-model="data.cpf" name="name" value="">

    <label>Nome da empresa (obrigatório)</label>
    <input type="text" ng-model="data.empresa" name="name" value="">

    <label>CNPJ (obrigatório)</label>
    <input type="text" ng-model="data.cnpj" name="name" value="">

    <label>Função (obrigatório)</label>
    <input type="text" ng-model="data.funcao" name="name" value="">

    <label>Endereço (obrigatório)</label>
    <input type="text" ng-model="data.endereco" name="name" value="">


    <label>Categoria (obrigatório)</label>
    <input type="text" ng-model="data.categoria" name="name" value="">

    <label>Seu e-mail (obrigatório)</label>
    <input type="text"  ng-model="data.email" name="name" value="">

    <label>Telefone (obrigatório)</label>
    <input type="text" ng-model="data.telefone" name="name" value="">

    <div vc-recaptcha ng-model="captcha" key="'6Lc34hgTAAAAAA8Jb9G4f_duXZUBtOD91ugYPUeP'"></div>

    <button type="button" ng-click="submit()" name="button">ENVIAR</button>
  </form>

</div>
