<div ng-include="'views/templates/associase.html'"
 onload="title ='Auditórios'"></div>
<div class="content">

<h1 class="title-blue">AUDITÓRIO RADIR PEREIRA</h1>

<lu>
  <li>Localização: Rua Ceará Mirim, 322 – Tirol  </li>
  <li>Sede CDL Natal – 1º andar</li>
  <li>Fone: (84) 4009-0000;</li>
  <li>Fax : (84) 4009-0705;</li>
  <li>E-mail: secretaria@cdlnatal.com.br;</li>
  <li>Capacidade para 150 lugares;</li>
  <li>Climatizado;</li>
  <li>Poltronas com braços e apoio para escrita;</li>
  <li>Sonorização;</li>
  <li>Data show; </li>
  <li>Notebook;</li>
  <li>1 operador de equipamentos (áudio e vídeo);</li>
  <li>1 auxiliar (portaria);</li>
  <li>Espaço para coffee break.</li>
</lu>
<br/>
<img src="img/aud1.png" style="width: 100%; max-width: 600px;" />

<h1 class="title-blue">SALA DE TREINAMENTO</h1>

<lu>
  <li>Localização: Rua Ceará Mirim, 322 – Tirol  </li>
  <li>Sede CDL Natal – 2º andar</li>
  <li>Fone: (84) 4009-0000;</li>
  <li>Fax : (84) 4009-0705;</li>
  <li>E-mail: secretaria@cdlnatal.com.br;</li>
  <li>Capacidade para 35 lugares;</li>
  <li>Climatizado;</li>
  <li>Cadeiras com braços e apoio para escrita;</li>
  <li>Sonorização;</li>
  <li>Data show; </li>
  <li>Notebook;</li>
  <li>1 auxiliar (portaria);</li>
  <li>Espaço para coffee break.</li>
</lu>
<br/>
<img src="img/aud2.png" style="width: 100%; max-width: 600px;" />


<h1 class="title-blue">SALA DE REUNIÕES </h1>

<lu>
  <li>Localização: Rua Ceará Mirim, 322 – Tirol  </li>
  <li>Sede CDL Natal – 1º andar</li>
  <li>Fone: (84) 4009-0000;</li>
  <li>Fax : (84) 4009-0705;</li>
  <li>E-mail: secretaria@cdlnatal.com.br;</li>
  <li>Capacidade para 20 lugares;</li>
  <li>Climatizado;</li>
  <li>Mesa em formato oval;</li>
  <li>Data show; </li>
  <li>Notebook;</li>
  <li>1 auxiliar (portaria);</li>
  <li>Espaço para coffee break.</li>
</lu>

<br/>
<img src="img/aud3.png" style="width: 100%; max-width: 600px;" />



</div>
