<div ng-include="'views/templates/associase.html'"
 onload="title ='CDL Natal Notícias'"></div>

<div ng-include="'views/templates/newsletter.html'"></div>

<div class="content">

<div class="post" ng-repeat="post in posts">
  <a href="#/post/{{ post.id }}">
    <h4 class="title">{{ post.title }}</h4>
  </a>
  <p class="no-margin-top">{{ post.date | date:'dd/MM/yyyy' }} | Postado por {{ post.auth }} </p>

  <a href="#/post/{{ post.id }}">
    <img  class="image" src="{{ post.image }}" alt="" />
  </a>

  <p class="no-margin-top"> {{ post.description }}</p>
</div>


<!--
 <ul class="pages">
   <li>Página 1 de 5</li>
   <li>< anterior</li>
   <li>1</li>
   <li>2</li>
   <li>3</li>
   <li>4</li>
   <li>próximo ></li>
   <li>ultimo</li>

 </ul>-->

</div>
