<div ng-include="'views/templates/associase.html'"
 onload="title ='BOLETO ONLINE'"></div>

<div class="content">
  <p>Prezado(a) associado(a) caso já tenha um email e senha cadastrados pode
    clicar no link abaixo para retirar uma segunda via do seu boleto. Caso não
    tenha ligue para nosso setor de faturamento para cadastrar (84)- 4009-0000
  </p>

  <a href="http://www.superaweb.net/servicos/177178183184184/mllnppciaobeemfapinfnkfnoaikcmpklehjmkfhokbmmkaffaoi" target="_blank">
    <button class="button">Boleto online</button></a>
  <a href="http://cdlnatal.com.br/arquivos/tutorial-boleto.pdf" target="_blank">
    <button class="button">Clique aqui e siga o passo a passo</button></a>
</div>
