<div ng-include="'views/templates/associase.html'"
 onload="title ='CONTATO'"></div>

<div class="content">
  <form class="" action="index.html" method="post">
    <h1 class="title-blue">SPC Conciliador</h1>
    
  
    <label>Nome da empresa (obrigatório)</label>
    <input type="text" ng-model="data.nome" name="name" value="">


    <label>Telefone (obrigatório)</label>
    <input type="text" ng-model="data.telefone" name="name" value="">


    <label>CPF (obrigatório)</label>
    <input type="text" ng-model="data.cpf" name="name" value="">


    <label>Responsável (obrigatório)</label>
    <input type="text"  ng-model="data.responsavel" name="name" value="">



    <div vc-recaptcha ng-model="captcha" key="'6Lc34hgTAAAAAA8Jb9G4f_duXZUBtOD91ugYPUeP'"></div>

    <button type="button" ng-click="submit()" name="button">ENVIAR</button>
  </form>

</div>
