<div ng-include="'views/templates/associase.html'"
 onload="title ='CONTATO'"></div>

<div class="content">
  <form class="" action="index.html" method="post">
    <h1 class="title-blue">Formulário de inscrição - Concurso de Decoração Natalina 2018</h1>
    <p>
        <a href="arquivos/regulamento-decoracao-natalina-2018.pdf" target="_blank">Clique aqui para baixar o regulamento.</a>
    </p>

    <label>Nome (obrigatório)</label>
    <input type="text" ng-model="data.nome" name="name" value="">

    <label>Órgão/Empresa (obrigatório)</label>
    <input type="text" ng-model="data.empresa" name="name" value="">

    <label>Responsável/Função (obrigatório)</label>
    <input type="text" ng-model="data.funcao" name="name" value="">

    <label>Endereço (obrigatório)</label>
    <input type="text" ng-model="data.endereco" name="name" value="">

    <label>CPF/CNPJ (obrigatório)</label>
    <input type="text" ng-model="data.cpf" name="name" value="">

    <label>Categoria (obrigatório)</label>
    <input type="text" ng-model="data.categoria" name="name" value="">

    <label>E-mail (obrigatório)</label>
    <input type="text"  ng-model="data.email" name="name" value="">

    <label>Telefone (obrigatório)</label>
    <input type="text" ng-model="data.telefone" name="name" value="">

    <div vc-recaptcha ng-model="captcha" key="'6Lc34hgTAAAAAA8Jb9G4f_duXZUBtOD91ugYPUeP'"></div>

    <button type="button" ng-click="submit()" name="button">ENVIAR</button>
  </form>

</div>
