<div ng-include="'views/templates/associase.html'"
 onload="title ='Institucional'"></div>
<div class="content">
  <h1 class="title-blue">HISTÓRICO CDL NATAL</h1>
  <p>A Câmara de Dirigentes Lojistas de Natal (CDL Natal) faz parte de um
    sistema confederativo, constituído pela Confederação Nacional de Dirigentes
    Lojistas (CNDL), das Federações das Câmaras de Dirigentes Lojistas (FCDL),
     em cada estado brasileiro, e das Câmaras de Dirigentes Lojistas (CDL´s),
      de âmbito municipal.</p>

    <p>Com 57 anos de história, conquistas e sucessos, a Câmara de Dirigentes
      Lojistas de Natal é uma entidade de classe sem fins econômicos,
      filiação política, partidária ou religiosa que promove soluções para o
      comércio varejista e os setores de serviços de Natal, e também contribui
      para o desenvolvimento social e econômico de nossa comunidade.
    </p>

    <p>Desde a sua fundação em 1º de maio de 1961, a CDL Natal contou com a
      gestão de 25 diretorias, sendo essa a 26ª.  A história da entidade
      acompanha o crescimento e modernização do comércio. Com a sua fundação,
      foi constituído também o Serviço de Proteção ao crédito – SPC,
      departamento que ao longo do tempo, se transformou em um dos mais
      importantes da entidade. Hoje a CDL Natal possui 1.500 associados, e tem
      como missão promover o desenvolvimento do setor. Para isso, desenvolve
      ações administrativas, institucionais, comerciais e oferece serviços
      aos associados. É a responsável por criar em 2002 a Liquida Natal, a
      maior promoção do comércio natalense, que desde sua 3ª edição tornou-se
      o 2º melhor período de vendas para o comércio,
      ficando atrás somente do período natalino.</p>

    <p>A entidade vem ano após ano crescendo, se destacando, sendo cada
        vez mais presente junto aos associados.</p>

    <h1 class="title-blue">Serviços Oferecidos</h1>

    <ul class="list">
      <li>Liquida Natal</li>
      <li>Certificação Digital</li>
      <li>Serviço de Proteção ao Crédito</li>
      <li>SPC Avisa</li>
      <li>Assessoria Jurídica</li>
      <li>Central de Cobranças</li>
      <li>Consultoria em Recursos Humanos</li>
      <li>Locação de auditório, e salas de treinamentos</li>
    </ul>

    <h5 class="title">Diretoria CDL Natal</h5>
    <p class="no-margin-top">Mandato: Janeiro 2018 a Dezembro 2020</p>

    <h5 class="title">Presidente</h5>
    <p class="no-margin-top">Antonio Augusto Medeiros de Carvalho Vaz</p>

    <h5 class="title">1º Vice-Presidente</h5>
    <p class="no-margin-top">José Cordeiro de Lucena Neto</p>

    <h5 class="title">2º Vice-Presidente</h5>
    <p class="no-margin-top">Lucianna Melo de Araújo</p>

    <h5 class="title">Diretor Secretário</h5>
    <p class="no-margin-top">Clara Bezerra de Medeiros</p>

    <h5 class="title">Diretor Financeiro</h5>
    <p class="no-margin-top">Ricardo José de Viveiros Pinheiro Borges</p>

    <h5 class="title">Diretor de Comunicação Social</h5>
    <p class="no-margin-top">Herbert Diniz Costa</p>

    <h5 class="title">Diretor de Comércio de Rua</h5>
    <p class="no-margin-top">Francisco Derneval de Sá</p>

    <h5 class="title">Diretor de SPC, Informática, Telecomunicações e E-commerce</h5>
    <p class="no-margin-top">João Henrique de Araújo Moura</p>

    <h5 class="title">Diretor de Patrimônio</h5>
    <p class="no-margin-top">Afrânio Ferreira de Miranda Filho</p>

    <h5 class="title">Diretor de Lojas de Shopping-Centers</h5>
    <p class="no-margin-top">Maria Eulalia Medeiros de Morais</p>

    <h5 class="title">Diretor Comercial e Técnicos</h5>
    
    <p class="no-margin-top">Alex Major&#39;s Tavares Dantas</p>

    <h5 class="title">Diretor de Marketing</h5>
    <p class="no-margin-top">Sergio Bezerra da Silva Junior</p>

    <h5 class="title">Diretora de Assuntos Assistenciais</h5>
    <p class="no-margin-top">Nailka Morais Saldanha Flor de Oliveiras</p>

    <h3 class="title">Conselho Fiscal</h3>

    
    <h5 class="title">Membros Efetivos</h5>
        
    <p class="no-margin-top">João Dinarte Patriota <br>
       José Flávio Cardoso do Monte<br/>Abílio César de Oliveira
       </p>

    <h5 class="title">Membros Suplentes</h5>
    <p class="no-margin-top">
      Sergio Roberto de Medeiros Freire<br>
      Julio César Cadete<br>
      Reginaldo Teófilo da Silva Júnior
    </p>

    <h5 class="title">Membros Suplentes</h5>
    <p class="no-margin-top">
      Sergio Roberto de Medeiros Freire<br>
      Julio César Cadete<br>
      Reginaldo Teófilo da Silva Júnior
    </p>

    <h3 class="title">Conselho Consultivo</h3>

    <h5 class="title">Membros</h5>
    <p class="no-margin-top">
      George Ramalho Vieira<br>
      Joham Alves Xavier<br>
      Ricardo Cabral Abreu<br>
      Amauri Alves da Fonseca Filho<br/>
      Orismar Carlos de Almeida
    </p>

    <h3 class="title">CDL Jovem</h3>
    <p class="no-margin-top">Maria Luísa Ferreira de Fontes</p>

    <h5 class="title">Diretora de Eventos</h5>
    <p class="no-margin-top">Ismaelson Rêgo Fernandes</p>

    <h5 class="title">Diretora de Comunicação e Marketing</h5>
    <p class="no-margin-top">Bruno Félix de Araújo</p>

    <h5 class="title">Diretora Comercial</h5>
    <p class="no-margin-top">Matheus Mascena de Azevedo Santos</p>

    <h5 class="title">Diretora Financeira</h5>
    <p class="no-margin-top">Kayo Coutinho Carvalho</p>

    <h5 class="title">Diretor Jurídico</h5>
    <p class="no-margin-top">Fábio Luiz Lima Saraiva</p>

    <h5 class="title">Diretor de Inovação e Tecnologia</h5>
    <p class="no-margin-top">Claudia Larissa Coutinho Marques</p>


	<h5 class="title">Diretor de Empreendorismo</h5>
    <p class="no-margin-top">Giovana Karenina Xavier de Andrade</p>



	<h5 class="title">Diretor de Fomento À Mulher Empreendedora</h5>
    <p class="no-margin-top">Alcyone da Mata Silva Nóbrega</p>

	<h5 class="title">Diretor de Assuntos Políticos</h5>
    <p class="no-margin-top">Amaro Alexandre Medeiros Sales de Araújo</p>



    <h3 class="title">Assessoria</h3>

    <h5 class="title">Diretor Executivo</h5>
    <p class="no-margin-top">Joham Xavier</p>

    <h5 class="title">Gerente Geral</h5>
    <p class="no-margin-top">Pedro do Nascimento</p>

    <h5 class="title">Gerente Comercial</h5>
    <p class="no-margin-top">Adriana Fernandes</p>

    <h5 class="title">Assessora de Comunicação</h5>
    <p class="no-margin-top">Luciana Tito</p>

    <h5 class="title">Assistente de Marketing</h5>
    <p class="no-margin-top">Cátia Vicente</p>

    <h5 class="title">Secretária Executiva</h5>
    <p class="no-margin-top">Vilma Freitas</p>

</div>
