<div ng-include="'views/templates/associase.html'"
 onload="title ='CONTATO'"></div>

<div class="content">
  <form class="" action="index.html" method="post">
    <h1 class="title-blue">Formulário de inscrição PÓS NFR 2018</h1>
    <h2 class="title-blue">INSCRIÇÕES ENCERRADAS!</h2>
  <!--
    <label>Nome (obrigatório)</label>
    <input type="text" ng-model="data.nome" name="name" value="">


    <label>E-mail (obrigatório)</label>
    <input type="text"  ng-model="data.email" name="name" value="">

    <label>Empresa (obrigatório)</label>
    <input type="text" ng-model="data.empresa" name="name" value="">


    <label>Telefone (obrigatório)</label>
    <input type="text" ng-model="data.telefone" name="name" value="">


    <div vc-recaptcha ng-model="captcha" key="'6Lc34hgTAAAAAA8Jb9G4f_duXZUBtOD91ugYPUeP'"></div>

    <button type="button" ng-click="submit()" name="button">ENVIAR</button>
  </form>
-->
</div>
