<div class="newsletter" ng-controller="newsletter">
	<div class="center">
			<h3>Newsletter CDL Natal</h3>
			<p> Cadastre aqui seu e-mail e receba informativos da CDL Natal.</p>

			<input type="text" name="name" value="" ng-model="data.email" placeholder="Seu email">
			<button ng-click="submit()">CADASTRAR</button>
	</div>
</div>
