<div ng-include="'views/templates/associase.html'"
 onload="title ='Associados'"></div>

<div class="content">
  <h1 class="title-blue">TIPOS DE ASSOCIADOS</h1>

  <h4 class="title">Sócio Efetivo</h4>
  <p> São sócios efetivos as empresas que tenham sido admitidas por preencherem
    as condições do Estatuto da Entidade e aprovadas em Assembléia Geral.
  </p>


  <h4 class="title">Sócio Usuário SPC</h4>
  <p>São sócios usuários as empresas que preenchem as condições do Estatuto da
    Entidade, mas se limitam à utilização dos serviços oferecidos pela CDL Natal.</p>

  <h4 class="title">CDL Jovem</h4>
  <p>É um departamento da CDL Natal que tem por objetivo congregar jovens
    empresários dos setores do comércio, indústria, bancário e prestação de
    serviços. Promove e estimula a participação institucional dos jovens na
    formulação e concretização da metas da entidade relativas à defesa dos
    princípios da livre iniciativa, à valorização do consumidor, à
    profissionalização da juventude empresarial e ao desenvolvimento
    de novos líderes.  </p>

  <h4 class="title">Relevância e expressividade da base de dados</h4>
  <p>A CDL Natal reúne um substancial banco de dados de restrições comerciais,
    formado pelos registros das grandes, médias, micro e pequenas empresas do
    varejo nacional, das financeiras e rede bancária. A entidade participa de
    compartilhamento de informações e banco de dados do SPC Brasil.</p>

  <h1 class="title-blue">BENEFÍCIOS DA SUA EMPRESA AO SE CADASTRAR</h1>

  <h4 class="title">Central de Cobranças – Contato Imediato</h4>
  <p>O contato com o cliente em débito é feito pessoalmente, via telemarketing,
     mala direta ou outro meio juridicamente legal.</p>

  <h4 class="title">Reabilitação</h4>
  <p>O cliente, ao negociar ou quitar seu débito na Central de Cobranças, é
    prontamente reabilitado no Banco de Dados do SPC.</p>

  <h4 class="title">Prestação de Contas</h4>
  <p>A Central de Cobranças fará os repasses dos créditos recuperados
    mensalmente através de cheque nominal à empresa associada ou em
    conta corrente.</p>

  <h4 class="title">Credibilidade</h4>
  <p>A instituição CDL Natal há 50 anos presta serviços de qualidade para seus
    associados e contribui para o desenvolvimento social e econômico do Estado.</p>

  <h1 class="title-blue">CAPACIDADE TECNOLÓGICA</h1>

  <p>A CDL Natal dispõe de equipe de profissionais especializada em Tecnologia
    da Informação (TI). Desenvolve e gera aplicações voltadas para o
    gerenciamento de bancos de dados, redes e telecomunicações.
    É habilitada a oferecer as melhores e mais adequadas soluções existentes no
    mercado para prestação de serviços.</p>

  <p>Os serviços podem ser acessados através da Internet (site da CDL Natal),
    Call Center SPC (84 4009.0707) com atendimento de segunda a sexta até as
    18h; microterminal com leitor CMC7 e Pertochek.</p>

  <h1 class="title-blue">ASSESSORIA JURIDICA</h1>

  <p>A CDL Natal disponibiliza os serviços da Assessoria Jurídica para prestar
    orientação aos associados, em caráter consultivo. Os associados poderão
    também buscar o auxílio dos serviços nas áreas fiscais, trabalhistas, de
    Direito Empresarial e de Direito do Consumidor. Para tanto, é preciso
    contatar o Setor Comercial para entender o funcionamento dessa possibilidade.</p>


  <h1 class="title-blue">ESPAÇO PARA EVENTOS E TREINAMENTO</h1>

  <p>A CDL Natal dispõe de um excelente Auditório com equipamentos de áudio e
    vídeo, dois microfones sem fio, climatizado e com capacidade para 150 pessoas.</p>


</div>
