<div class="content">
  <form class="">
    <h1 class="title-blue">ASSOCIA-SE A CDL</h1>
    <p>Torne-se um associado CDL Natal e tenha todos os benefícios que sua empresa merece.
    </p>

    <p>
      Para ser associado CDL Natal basta entrar em contato com nosso setor comercial (84) 4009-0000
Ou preencher o formulário abaixo. Em breve um de nossos consultores entrará em contato.
    </p>


    <label>Seu nome (obrigatório)</label>
    <input type="text" ng-model="data.nome" name="name" value="">

    <label>Seu e-mail (obrigatório)</label>
    <input type="text" name="name" ng-model="data.email" value="">

    <label>Telefone para contato (obrigatório)</label>
    <input type="text" name="name" ng-model="data.telefone" value="">

    <label>C.N.P.J (obrigatório)</label>
    <input type="text" name="name" ng-model="data.cnpj" value="">

    <label>Razão Social (obrigatório)</label>
    <input type="text" name="name" ng-model="data.razao_social" value="">

    <label>Sua mensagem</label>
    <textarea name="name" rows="8" ng-model="data.mensagem" cols="40"></textarea>

    <div vc-recaptcha ng-model="captcha" key="'6Lc34hgTAAAAAA8Jb9G4f_duXZUBtOD91ugYPUeP'"></div>

    <button type="button" name="button" ng-click="submit()">ENVIAR</button>
  </form>

</div>
