<div ng-include="'views/templates/associase.html'"
 onload="title ='CONTATO'"></div>

<div class="content">
  <form class="" action="index.html" method="post">
    <h1 class="title-blue">Formulário de contato</h1>
    <p>
      Prezado(a) Associado(a) para agilizar o atendimento, solicitamos que escolha
      qual setor deseja entrar em contato:
  Cada formulário é único, e será devidamente entregue a seu responsável.
    </p>
    <select ng-model="data.setor">
      <option value="secretaria@cdlnatal.com.br">Administração geral</option>
      <option value="francisca@cdlnatal.com.br">RH</option>
      <option value="francelino@cdlnatal.com.br">Faturamento</option>
      <option value="secretaria@cdlnatal.com.br">Secretaria</option>
      <option value="marketing@cdlnatal.com.br">Marketing</option>
      <option value="atendimento@cdlnatal.com.br">Comercial</option>
      <option value="lucianatito@cdlnatal.com.br">Imprensa</option>
      <option value="kellycristina@cdlnatal.com.br">SPC</option>
      <option value="daniel@cdlnatal.com.br">Jurídico</option>
      <option value="ti@cdlnatal.com.br">Suporte técnico(TI)</option>
    </select>

    <label>Seu nome (obrigatório)</label>
    <input type="text" ng-model="data.nome" name="name" value="">

    <label>Seu e-mail (obrigatório)</label>
    <input type="text"  ng-model="data.email" name="name" value="">

    <label>Assunto</label>
    <input type="text" ng-model="data.assunto" name="name" value="">

    <label>Sua mensagem</label>
    <textarea name="name" ng-model="data.mensagem" rows="8" cols="40"></textarea>

    <div vc-recaptcha ng-model="captcha" key="'6Lc34hgTAAAAAA8Jb9G4f_duXZUBtOD91ugYPUeP'"></div>

    <button type="button" ng-click="submit()" name="button">ENVIAR</button>
  </form>

</div>
