<div ng-include="'views/templates/associase.html'"
 onload="title ='GALERIA'"></div>

<div class="content" ng-controller="galeria">
  <section class="photos">
    <img src="{{ image }}" ng-repeat="image in images" ng-click="show(image)">

  </section>

  <div class="modal" ng-show="target" ng-click="hide()">
    <img src="{{ target }}">
  </div>


</div>
