
<div class="banner">
	<div class="slides" ng-controller="SlideCtrl">
		<div ng-class="efeito">
			<img src="{{ slide.image }}" ng-click="action()"/>
		</div>
		<div class="arrows">
			<i class="fa arrow fa-angle-left" ng-click="prevSlide()"></i>
			<i class="fa arrow fa-angle-right" ng-click="nextSlide()"></i>
		</div>

	</div>
</div><!--

--><div ng-include="'views/templates/associase.html'"></div>

<div class="content grid-list">
	<div class="col-3">
		<h3>Por que se associar?</h3>
		<img src="img/icon01.png"/>
		<p>Para ter segurança na hora da venda a credito. O Serviço de Proteção ao
			Crédito SPC é o maior banco de dados da América Latina.</p>
	</div><!--
	--><div class="col-3">
		<h3>Serviços SPC Brasil</h3>
		<img src="img/icon02.png"/>
		<p>O Serviço Nacional de Proteção ao Crédito (SPC) é um órgão de serviço
			criado pela Confederação Nacional de Dirigentes Lojistas.</p>
	</div><!--
	--><div class="col-3">
		<a href="http://www.cdljovemnatal.com.br/" target="_blank">
			<h3>Conheça também a CDL Jovem</h3>
		</a>
		<a href="http://www.cdljovemnatal.com.br/" target="_blank">
			<img src="img/icon03.png"/>
		</a>
		<p>Espaço totalmente dedicado aos jovens empresários. É um braço da
			CDL Natal articulado com o futuro.</p>
	</div>


	<div class="col-3">
		<h3>Como evitar seu nome no SPC</h3>
		<img src="img/icon04.png"/>
		<p>Hoje em dia, desde uma simples loja de bairro até as empresas mais
			 modernas consultam pela Internet as informações do banco de dados.</p>
	</div><!--
	--><div class="col-3">
		<h3>Perdeu seus documentos?</h3>
		<img src="img/icon05.png"/>
		<p>O serviço existe para evitar que o cliente que teve seus documentos extraviados (perdidos ou roubados).</p>
	</div><!--
	--><div class="col-3">
		<a href="#/auditorios">
			<h3>Locação de Auditório</h3>
		</a>
		<a href="#/auditorios">
			<img src="img/icon06.png"/>
		</a>
		<p>A CDL Natal tem à sua disposição um moderno auditório para 150 pessoas,
			sala de reuniões com capacidade para 20 pessoas.</p>
	</div>
</div>

<div ng-include="'views/templates/newsletter.html'"></div>

<div class="noticias" ng-controller="LastNew">
	<div class="content">
			<div class="mini-header">
				 <h1 class="title-blue">últimas notícias</h1>

				 <a href="#/noticias" class="rigth-link">// ver todas</a>
			</div>


			<div class="col-3">
				<div class="thumb">
					<a href="#/post/{{ posts[0].id }}"><img src="{{ posts[0].img || posts[0].image }}"/></a>
					<span>{{ posts[0].date | date:'dd/MM/yyyy' }}</span>
				</div>
				<a href="#/post/{{ posts[0].id }}"><h3>{{ posts[0].title }}</h3></a>

				<p>{{ posts[0].description }}</p>
			</div><!--
			--><div class="col-3">
				<div class="thumb">
					<a href="#/post/{{ posts[1].id }}"><img src="{{ posts[1].img || posts[1].image }}"/></a>
					<span>{{ posts[1].date | date:'dd/MM/yyyy' }}</span>
				</div>
					<a href="#/post/{{ posts[1].id }}"><h3>{{ posts[1].title }}</h3></a>

					<p>{{ posts[1].description }}</p>
			</div><!--
			--><div class="col-3">
				<div class="thumb">
					<a href="#/post/{{ posts[2].id }}"><img src="{{ posts[2].img || posts[2].image }}"/></a>
					<span>{{ posts[2].date | date:'dd/MM/yyyy' }}</span>
				</div>
					<a href="#/post/{{ posts[2].id }}"><h3>{{ posts[2].title }}</h3></a>

				<p>{{ posts[2].description }}</p>
			</div>

	</div>
</div>
