
<div class="content post-view">
  <img src="{{ post.image }}" alt="" />
  <p class="no-margin-top">{{ post.date | date:'dd/MM/yyyy' }} | Postado por {{ post.auth }} </p>

  <h1 class="title-blue">{{ post.title }}</h1>
  <div btf-markdown="post.text"></div>
  <hr>
</div>
