<div class="content" style="min-height: 60vh !important;">


  <div class="post" ng-repeat="post in posts">
    <a href="/#/post/{{ post.id }}"><h4 class="title">{{ post.title }}</h4></a>
    <p class="no-margin-top">{{ post.date | data }} | Postado por {{ post.auth }} </p>

    <a href="/#/post/{{ post.id }}"><img  class="image" src="{{ post.image }}" alt="" /></a>
    <br><a href="#/editar-post/{{ post.id }}">Editar post</a> |
    <a ng-click="delete(post.id)">Excluir post</a>
    <p class="no-margin-top"> {{ post.description }}</p>

  </div>

   <ul class="pages">
     <li>Página 1 de {{ pages.length || 1}}</li>
     <li>< anterior</li>
     <li ng-repeat="page in pages">{{ page }}</li>
     <li>próximo ></li>
     <li>ultimo</li>
   </ul>
   <br>

</div>
