@media (max-width: 1050px) {
  .content {
    width: 95%;
  }
}
@media (max-width: 800px) {
  form {
    width: 100%;
  }

  .photos {
    /* Prevent vertical gaps */
    line-height: 0;

    -webkit-column-count: 2;
    -webkit-column-gap:   0px;
    -moz-column-count:    2;
    -moz-column-gap:      0px;
    column-count:         2;
    column-gap:           0px;
  }
}

@media (max-width: 650px) {

  header .logo {
    width: auto !important;
    height: auto;
    display: block;
    border: none;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 10px;
  }

  header .blue {
    border-left: 1px solid #e8e8e8;
  }

  header .col-22 img {
    height: auto;
    display: block;
    margin: 0 auto;
  }

  header .col-22 {
    width: 33.3%;
  }

  header .col-10 {
    width: 10%;
  }

  header .blue-dark p {
    float: none;
    display: block;
    text-align: center;
  }

  header .blue-dark ul {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  header .content {
    width: 100% !important;
  }
  header .blue-dark ul li {
    margin-right: 5px;
    margin-left: 5px;
  }

  .col-3 {
    width: 49%;
  }
}

@media (max-width: 550px) {

  .photos {
    /* Prevent vertical gaps */
    line-height: 0;

    -webkit-column-count: 1;
    -webkit-column-gap:   0px;
    -moz-column-count:    1;
    -moz-column-gap:      0px;
    column-count:         1;
    column-gap:           0px;
  }

  .photos img {
    margin-top: 10px;
  }

  .newsletter .center {
    width: 95%;
  }

  .newsletter input {
    width: 100%;
    display: block;
  }

  .newsletter button {
    display: block;
    margin-top: 10px;
    width: 100%;
  }

  .apoiamos .col-35 {
    width: 70%;
    display: block;
  }
  .apoiamos .col-65 {
    width: 100%;
    display: block;
  }

  .tempo iframe {
    display: block;
    margin: 0 auto;
  }

  .post .image {
    width: 100%;
  }

  .post h1,
  .post p {
    width: 100%;
  }


  .rej {
    position: relative;
    display: block;
    margin: 0 auto;
  }

}

@media (max-width: 400px) {
  .apoiamos .col-35 {
    width: 100%;
    display: block;
  }

  .blue h2, .yellow h2, .green h2 {
    font-size: 13px !important;
  }


  .col-3 {
    width: 100%;
  }

  .associase .title-blue {
    width: 100%;
    text-align: center !important;
  }
  .associase button {
    display: block;
    margin: 0 auto;
    position: relative;
    float: none;
  }
}
